body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(0, 242, 255);
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  line-height: 2;
  margin: 4rem 0;
  color: yellow;
  -webkit-text-stroke: 1px black;
}

.container,
.row {
  width: 100vw;
  height: 100vh;
}

.btn {
  margin: 25px;
  display: inline-block;
  /* size of buttons */
  height: 20rem;
  width: 20rem;
  border: 0.5rem solid black;
  border-radius: 25%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  -webkit-border-radius: 10% 100% 10% 30%;

}

.green {
  background-color: green;
  -webkit-border-radius: 100% 10% 30%;
}

.blue {
  background-color: blue;
  -webkit-border-radius: 30% 10% 100%;
}

.yellow {
  background-color: yellow;
  -webkit-border-radius: 10% 30% 10% 100%;

}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}